{% extends "base.html" %} 
{% block menu %}
    <ul id="menu">
        <li><a href="{% url 'listaP' %}">Lista de Proyectos</a></li>
        <li><a href="{% url 'listaT' %}">Tareas</a></li>
        <li><a href="{% url 'listaPer' %}">Personas</a></li>
    </ul>
{% endblock  %}
{% block title %}
    <h1>Bienvenido a gestores de proyectos</h1>
{% endblock %}

{% block content %}
    <ul>
        <li><a href="{% url 'listaP' %}">Lista de Proyectos</a><br></li>
        <li><a href="{% url 'listaT' %}">Lista de Tareas</a><br></li>
        <li><a href="{% url 'listaPer' %}">Lista de Personas</a><br></li>
    </ul>
{% endblock %}