{% extends "base.html" %}

{% block title %}
    <h1>Lista de Proyectos</h1>
{% endblock %}

{% block content %}
    <ul>
        {% for pro in proyectos %}
        <li>
            <a href="{% url 'detalleProyecto' pro.id %}">
                <strong>{{ pro.nombre }}</strong>: {{ pro.descripcion }}
            </a>
            <br>
            <small>
                Estado: {{ pro.get_estado_display }} |
                Presupuesto: {{ pro.presupuesto|default:"No definido" }} |
                Fecha de entrega: {{ pro.fecha_entrega|date:"d/m/Y" }}
            </small>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
