<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
    <title>Lista de Personas</title>
</head>
<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                <!-- Titulo y informacion de la cabecera -->
                <h1><a href="{% url 'index' %}">Proyectos</a></h1>
                <h2>Web sobre la organizacion de proyectos.</h2>
            </div>
            </div>
            <div id="menubar">
                <ul id="menu">
                <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                <li class="selected"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'listaP' %}">Proyectos</a></li>
                <li><a href="{% url 'listaT' %}">Tareas</a></li>
                <li><a href="{% url 'listaPer' %}">Personas</a></li>
                </ul>
            </div>
            <div id="content_header"></div>

        <div>
    

        <div id="content">
            <h1>Personas</h1>
            <ul>
            {% for per in personas %}
                <li>
                    <a href="{% url 'detallePersona' per.id %}">{{ per.nombre }}: {{ per.dni }}</a>
                </li>
                {% endfor %}
            </ul>

        </div>
        <div id="content_footer"></div>
        <div id="footer">
        <p><a href="{% url 'index' %}">Home</a> | <a href="{% url 'listaP' %}">Proyectos</a> | <a href="{% url 'listaT' %}">Tareas</a> | <a href="{% url 'listaPer' %}">Personas</a></a></p>
        <p>Copyright &copy; simplestyle_banner | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">HTML5 Web Templates</a></p>
        </div>
    </div>
    
</body>
</html>
