{% extends "base.html" %}

{% block menu %}
    <ul id="menu">
        <li><a href="{% url 'listaP' %}">Lista de Proyectos</a></li>
        <li><a href="{% url 'listaT' %}">Tareas</a></li>
        <li><a href="{% url 'listaPer' %}">Personas</a></li>
    </ul>
{% endblock  %}

{% block title %}
    <h1>{{ p.nombre }}</h1>
{% endblock %}

{% block content %}
    <p><strong>Descripción:</strong> {{ p.descripcion }}</p>
    <p><strong>Fecha de Creación:</strong> {{ p.fecha_creacion }}</p>
    <p><strong>Fecha de Entrega:</strong> {{ p.fecha_entrega }}</p>
    
    <p><strong>Tareas:</strong></p>
    <ol>
        {% for tar in tareas %}
        <li>
            <a href="{% url 'detalleTarea' tar.id %}">{{ tar.nombre }}: {{ tar.descripcion }}</a>
        </li>
        {% endfor %}
    </ol>
{% endblock %}
