<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle de Persona</title>
</head>
<body>
    <h1>{{ p.nombre }}</h1>
    <p><strong>Descripción:</strong> {{ p.descripcion }}</p>
    <p><strong>Fecha de Creación:</strong> {{ p.dni }}</p>
    <p><strong>Telefono:</strong> {{ p.telefono }}</p>
    <p><strong>Edad:</strong> {{ p.edad }}</p> 
    {% if p.ImagenPersona %}
        <p>Imagen:</p>
        <img src="{{p.ImagenPersona}}" alt="Foto">
    {% elif %}
        <p>Imagen: Esta persona no tiene una imagen asignada</p>
    {% endif %}
</body>
</html>
